{% extends 'base.html' %}

{% block body %}

<form action="/" method="post" id='create-run' class='modal-entry'>
    {% csrf_token %}

    {% if sentences %}
    <div id='sentences'>{{sentences}}</div>
    {% endif %}

    <h3>Strategy</h3>
    <input type='radio' name='strategy' value='best' {% ifequal strategy 'best' %}checked='checked'{% endifequal %}>Best&nbsp;</input>
    <input type='radio' name='strategy' value='grammar_only'{% ifequal strategy 'grammar_only' %}checked='checked'{% endifequal %}>Grammary Only</input>

    <h3>Twitter Users</h3>
    {% for tu in twitter_users %}
    <label for='source-{{tu.twitter_id}}@twitter'>{{tu.twitter_id}}</label>
        <span id='int-source-{{tu.twitter_id}}@twitter'></span>
        <input min='0' max='100' type='range' id='source-{{tu.twitter_id}}@twitter' name='source-{{tu.twitter_id}}@twitter' step='5' value='{{tu.ratio}}' class='source-slider' />
    {% endfor %}

    <h3>Documents</h3>
    {% for doc in documents%}
    <label for='source-document:{{doc.name}}'>{{doc.name}}</label>
        <span id='int-source-document:{{doc.name}}'></span>
        <input min='0' max='100' type='range' id='source-document:{{doc.name}}' name='source-document:{{doc.name}}' step='5' value='{{doc.ratio}}' class='source-slider' />
    {% endfor %}
    <input type="submit" value="Submit" disabled='disabled' id='submit-run' />

    
</form>
<a href='/add-twitter-user'>Add Twitter User</a>
{% endblock %}
